#root {
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* customized styling */

select {
  margin: 0 10px 0 10px;
}

.main-page-container {
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
}

.header-container {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panel-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-container {
  margin: 0 20px 0 20px;
}

.info-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #00a0ff;
  color: #ffffff;
  justify-content: space-between;
  align-items: center;
  font-size: 7.5px;
}

.info-modal-outer-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-modal-inner-container {
  width: 80vw;
  height: 80vh;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
}

.info-modal-content {
  height: 67vh;
}

.body-container {
}

.label-container {
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
}

.label-button {
  padding: 0 10px 0 10px;
  cursor: pointer;
  color: #f0f0f0;
  border-radius: 0 5px;
}

.label-button-active {
  padding: 0 10px 0 10px;
  cursor: pointer;
  color: #007bff;
  border-radius: 0 5px;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
}

.auth-form-container {
  padding: 40px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
